<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Cache-control" content="no-store">

  <title>{{ site.title }}</title>

  <meta name="description" content="{{ site.description }}">

  <meta name="theme-color" content="{{site.theme_color}}">

  <!-- Web App Manifest-->
  <link rel="manifest" href="{{site.baseurl}}manifest.json">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name='application-name' content="Bloom!">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{site.baseurl}}assets/img/icons/favicon.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}assets/img/icons/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}assets/img/icons/favicon-32x32.png">

  <!-- Apple Touch Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}assets/img/icons/apple-touch-icon.png">

  <!-- Safari pinned tab silhoutte -->
  <link rel="mask-icon" href="{{site.baseurl}}assets/img/icons/safari-pinned-tab.svg" color="#ff32b4">

  <!-- Windows 8 Tile Icons -->
  <meta name="msapplication-TileColor" content="{{site.theme_color}}">
  <meta name="msapplication-TileImage" content="{{site.baseurl}}assets/img/icons/mstile-144x144.png">
  <meta name="msapplication-config" content="{{site.baseurl}}browserconfig.xml">

  <link rel="stylesheet" href="{{site.baseurl}}assets/css/style.css">
  <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

  {% include snow.html %}
  {% include serviceworker.html %}

  <link rel="canonical" href="{{site.url}}">
</head>