<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Cache-control" content="no-store">

  <title>{{ page.title }}</title>

  <meta name="description" content="{{ site.description }}">

  <meta name="theme-color" content="{{ site.theme_color }}">

  <!-- Web App Manifest-->
  <link rel="manifest" href="{{site.baseurl}}manifest.json">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name='application-name' content="Bloom!">

  <!-- Favicon -->
  <link rel="shortcut icon" href="{{site.baseurl}}/assets/img/icons/favicon.ico">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/assets/img/icons/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/assets/img/icons/favicon-32x32.png">

  <!-- Apple Touch Icons -->
  <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/assets/img/icons/apple-touch-icon.png">

  <!-- Safari pinned tab silhoutte -->
  <link rel="mask-icon" href="{{site.baseurl}}/assets/img/icons/safari-pinned-tab.svg" color="#ff32b4">

  <!-- Windows 8 Tile Icons -->
  <meta name="msapplication-TileColor" content="{{site.theme_color}}">
  <meta name="msapplication-TileImage" content="{{site.baseurl}}/assets/img/icons/mstile-144x144.png">
  <meta name="msapplication-config" content="{{site.baseurl}}/browserconfig.xml">

  <script src="https://kit.fontawesome.com/475d4a7afe.js" crossorigin="anonymous"></script>
  <link async rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/balloon-css/0.5.0/balloon.min.css">
  <link async href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

  {% include serviceworker.html %}

  <link rel="canonical" href="{{site.url}}">
</head>
