---
---

body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  overscroll-behavior: none;
  background: radial-gradient(circle, rgba(255,0,100,1) 0%, rgba(48,0,19,1) 100%);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

.links {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 2;
  color: white;
  font-size: 1.3em;
  transition: all .18s ease-out;
  padding: 1em 1em 1em 1em;
  display:grid;
}

.links:hover,
.links:focus,
.links:active {
  transition: all .18s ease-in;
  color: rgba(255, 255, 255, 0.5);
  transform: scale(0.95);
}


.links a{
  text-decoration: none;
  margin-bottom: 0.2em;
  transition: all .18s ease-out;
}
.links a:hover,
.links a:focus,
.links a:active{
  transform: scale(1.2);
  color: white;
  transition: all .18s ease-in;
}

.centerBox {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.centerBox h1,
.centerBox p {
  margin-top: 0em;
  margin-bottom: 0.5em;
}

.centerBox img {
  border-radius: 50%;
  width: 150px;
  border-width: thick;
  border-style: groove;
  border-color: #ff0064;
}

.centerBox  .buttons {
  justify-content: space-between;
  color: white;
  width: fit-content;
  padding: 1rem;
  transition: all .18s ease-out;
  display: inline-block;
}

.centerBox .buttons:hover,
.centerBox .buttons:focus,
.centerBox .buttons:active {
  transition: all .18s ease-in;
  color: rgba(255, 255, 255, 0.5);
  transform: scale(0.95);
}

.centerBox .buttons .button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 2rem;
  display: inline-block;
  vertical-align: middle;

}

.centerBox .buttons .button:hover,
.centerBox .buttons .button:focus,
.centerBox .buttons .button:active {
  transform: scale(1.2);
  color: white;
  transition: all .18s ease-in;
}
