html {
  height: 100%;
  margin: 0;
  font-family: system-ui, sans-serif;
  font-weight: bold;
  overscroll-behavior: none;
  background: url(/assets/img/backgrounds/0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  height: 100%;
  margin: 0;
  background: linear-gradient(45deg, transparent 97%, #ff0064 97%);
}

* {
  box-sizing: border-box;
}

a {
  color: inherit;
}

.links {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 2;
  color: white;
  font-size: 1.3em;
  transition: all .18s ease-out;
  padding: 1em 1em 1em 1em;
  display: grid;
}

.links:hover,
.links:focus,
.links:active {
  transition: all .18s ease-in;
  color: rgba(255, 255, 255, 0.5);
  transform: scale(0.95);
}


.links a {
  text-decoration: none;
  margin-bottom: 0.2em;
  transition: all .18s ease-out;
}

.links a:hover,
.links a:focus,
.links a:active {
  transform: scale(1.2);
  color: white;
  transition: all .18s ease-in;
}

.centerBox {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
}

.centerBox h1,
.centerBox p {
  margin-top: 0em;
  margin-bottom: 0.5em;
}

.centerBox img {
  width: 150px;
}

.centerBox .buttons {
  justify-content: space-between;
  color: white;
  width: fit-content;
  padding: 1rem;
  transition: all .18s ease-out;
  display: inline-block;
}

.centerBox .buttons:hover,
.centerBox .buttons:focus,
.centerBox .buttons:active {
  transition: all .18s ease-in;
  color: rgba(255, 255, 255, 0.5);
  transform: scale(0.95);
}

.centerBox .buttons .button {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 2rem;
  display: inline-block;
  vertical-align: middle;

}

.centerBox .buttons .button:hover,
.centerBox .buttons .button:focus,
.centerBox .buttons .button:active {
  transform: scale(1.2);
  color: rgb(255, 0, 100);
  transition: all .18s ease-in;
}
