<!DOCTYPE html>

<html lang="en">

{% include head.html %}
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/home.css">

<body>
  <div class="centerBox">

    {{ content }}
    <div class="buttons">
      <div class="button" data-balloon="PayPal" data-balloon-pos="down">
        <a aria-label="Paypal" href="https://www.paypal.com/donate?hosted_button_id=X2FEY7HE9JE9N" target="_blank"
          rel="noopener">
          <i class="fab fa-paypal"></i>
        </a>
      </div>
      <div class="button" data-balloon="Ko-fi" data-balloon-pos="down">
        <a aria-label="Kofi" href="https://ko-fi.com/bloom" target="_blank" rel="noopener">
          <i class="fas fa-mug-hot"></i>
        </a>
      </div>
    </div>

    <br />

    <div class="buttons">
      <div class="button" data-balloon="Home" data-balloon-pos="down">
        <a aria-label="Home" href="{{site.baseurl}}/">
          <i class="fas fa-home"></i>
        </a>
      </div>
    </div>
  </div>
</body>

</html>
